<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div id="logincont" class="container" style="margin-bottom:5%">
                    <h1>Main Menu</h1>
                    <!-- <h1><u>Maintenance Cost Auto-Estimator</u></h1> -->
                    <button class="button" (click)=createCharacter()>Login</button>
                    <button class="button" data-toggle="modal" data-target="#exampleModalCenter">Create Account</button>
                    <button class="button" routerLink="/login">Quick Estimate</button>
                </div>
            </div>
        </div>
    </div>
</div>